.strength-bar {
  margin: 6px 0 0 0;
  background: #263f2e;
  border-radius: 4px;
  height: 13px;
  position: relative;
  overflow: hidden;
}
.bar {
  height: 100%;
  background: linear-gradient(90deg,#ba1d00,#eb980e,#a3e635,#40be5b,#1b5e20);
  transition: width 0.4s;
}
.strength-label {
  font-size: 0.91em;
  position: absolute;
  top: 17px;
  left: 0;
  color: #e7ffec;
}
.label-1 { color: #e57373; }
.label-2 { color: #ffd740; }
.label-3 { color: #aeea00; }
.label-4 { color: #1b5e20; font-weight:bold; }
